<div class="container">
  <header class="text-center">
    <h2 class="m-3">Weather Forecast Trend</h2>
    <small><i>Pick a date to explore the trend over the past 30 days in Singapore. (based on 4-day forecast
        API)</i></small>
  </header>
  <main class="text-center">
    <div class="d-flex m-5 justify-content-center flex-wrap">
      <label class="d-block mt-2 mx-2 pt-2" for="setStartDate"><strong>Date Picker</strong></label>
      <input type="date" class="form-control w-50 m-2" id="setStartDate" [(ngModel)]="myDate" (input)="handleDate()"
        [max]="maxDate">
      <button class="btn btn-sm btn-outline-success mx-2 mt-2" (click)="getData()">Confirm</button>
    </div>
    <div class="text-center" [class.d-none]="!loading" id="spinner">
      <div class="spinner-border text-success" role="status">
      </div>
    </div>
    <!-- The Highchart component -->
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions.temperatureChart"
      style="width: 100%; height: 400px; display: block;" class="rounded">
    </highcharts-chart>
    <br />
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions.humidityChart"
      style="width: 100%; height: 400px; display: block;" class="rounded">
    </highcharts-chart>
    <br />

    <!-- The AG Grid component -->
    <ag-grid-angular [rowData]="forecastArray" [columnDefs]="colDefs" class="ag-theme-quartz" style="height: 50vh;">
    </ag-grid-angular>
  </main>
  <footer class="text-center mt-5">
    <small>
      <i class="text-secondary">Copyright © 2023
        <a class="link-secondary" href="https://bjqs02.github.io/profile/#" target="_blank">Sarah Chen</a>
        All Rights Reserved.
      </i>
    </small>
  </footer>
</div>